site_name: Pydantic-resolve
theme:
  name: material
  icon:
    repo: fontawesome/brands/github
  features:
    - navigation.tabs
    - navigation.tabs.sticky

repo_name: allmonday/pydantic-resolve
repo_url: https://github.com/allmonday/pydantic-resolve
edit_uri: ""

nav:
  - Quick Start:
      - Install: index.md
      - Let's start: about.md
      - Dataloader: dataloader.md
      - Inheritance: inherit.md
      - Tree: tree.md
      - Philosophy: philosophy.md
  - Reference:
      - API: reference_api.md
  - Change log:
      - pydantic-resolve: changelog.md
      - pydantic2-resolve: changelog-v2.md

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.superfences

plugins:
  - i18n:
      docs_structure: suffix
      languages:
        - locale: en
          default: true
          name: English
          build: true
        - locale: zh
          name: 中文
          build: true
          nav_translations:
            Quick Start: "快速开始"
            Reference: "文档"
            Change log: "变更记录"
            Install: "安装"
            Let's start: "开始"
            Inheritance: "继承"
            Philosophy: "迷思"
