[tool.poetry]
name = "pydantic-resolve"
version = "0.1.2"
description = "Make pydantic have a GraphQL-like assembly experience."
authors = ["tangkikodo <allmonday@126.com>"]
readme = "README.md"
repository = "https://github.com/allmonday/pydantic_resolve"
keywords = ["pydantic", "fastapi"]
license = "MIT"
packages = [{include = "pydantic_resolve"}]

[tool.poetry.dependencies]
python = "^3.7"
pydantic = "^1.10.4"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
